<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}My Notes{% endblock %}</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
    <!-- Custom styles for the template -->
    <style>
        /* Additional custom styles */
        .nav-container {
            background-color: #00FF00; /* Green */
            padding: 1rem;
        }

        .nav-link {
            color: #000000; /* Black */
        }
    </style>
</head>

<body>
    <nav class="flex items-center justify-between bg-green-500 py-4 px-6">
        <div class="container mx-auto">
            <div class="flex items-center justify-between">
                <a class="text-2xl font-bold" href="{% url 'notes:home' %}">My Notes</a>
                <div class="flex items-center space-x-4">
                    <ul class="flex space-x-4">
                        
                        {% if user.is_authenticated %}
                            <li><a class="nav-link" href="{% url 'sharing:shared_notes' %}">Shared Notes</a></li>
                            <li><a class="nav-link" href="{% url 'notes:display_notes' %}">All Notes</a></li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                        <span class="nav-link">Welcome, {{ user.username }}</span>
                        <a class="nav-link" href="{% url 'notes:logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'notes:login' %}">Login</a>
                        <a class="nav-link" href="{% url 'notes:signup' %}">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <div class="container mx-auto mt-8">
        <div class="flex justify-center">
            <form class="flex items-center" action="#" method="GET">
                <input type="text" class="border border-gray-300 rounded-l-md py-2 px-4 mr-2" name="query" placeholder="Search notes">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-r-md">Search</button>
            </form>
        </div>
    </div>

    <div class="container mx-auto mt-8">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Include Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com/2.2.7/tailwind.min.js"></script>
</body>

</html>
